:root {
    --header-color: transparent;
    --num-of-tabs: 1;
}


.wrap-all {
    width: 80vw;
    margin:auto;
    margin-top: 10px;
} 

body {
    background-color: whitesmoke;
    overflow-x:hidden;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.child {
    flex-basis: 70%;
    text-align: center;
    height: 50px;
}

.flex-under {
    display:flex;
    flex-flow:column wrap;
}

.chart {
  flex-basis: 70%;
} 

.btn {
    width:fit-content;
    margin-top: auto;
}

.card {
    background-color: #dfe7fd;
    margin: auto;
    border-radius: 20px;
}

.availPoints {
  font-size: large;
  font-weight: bold;
  color :green;
} 

.negative {
  font-size: large;
  font-weight: bold;
  color: red;
}

.chart {
  display:none;
}

.highcharts-credits, .highcharts-no-tooltip, .highcharts-title{
  display:none;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 500px; 
    max-width: 1500px;
    margin: 5em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 200%;
    max-width: 1000px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
    
}

.rangeDiv {
    width: min-content;
    margin-bottom: 10px;
}

.textInput {
    outline: none;
}

.studInput {
    width: 200px;
    margin-right: 15px;
} 

/* sticky note css */
/*
body {
    margin: 20px auto;
    font-family: 'Lato';
    background:#666;
    color:#fff;
  }
*/
  *{
    margin:0;
    padding:0;
  }
  
  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  p h6{
    font-family: 'Reenie Beanie';
    font-size: 2rem;
  }
  ul,li{
    list-style:none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height: calc(100% + 20px);
    width:25em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
  
  ul li:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  ul li{
    margin:1em;
  }

  hr {
    width: 80px;
  } 

.modal-jack {
  width: 900% !important;
  height: 100% !important;
 
} 

.cross {
  position: relative;
  display: inline-block;
}
.cross::before, .cross::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}
.cross::before {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(-40deg);
  transform: skewY(-40deg);
}
.cross::after {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(40deg);
  transform: skewY(40deg);
}