:root {
    --header-color: #ffadad;
    --num-of-tabs: 3;
}

body {
    margin:0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: whitesmoke; 

    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width:100vw;
    height: 100vh;*/
    position:absolute;
    right:-80px;
    top:-80px;
    z-index:1;
    transition: 0.5s;
}

.wrapper:hover {
    right:-100px;
    top:-100px;
}

.pulse {
    width: 160px;
    height: 160px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
}

.pulse:hover {
    width:200px;
    height:200px;
}

.pulse:hover {
    animation: animate 3s linear infinite;
}

.pulse i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    height: 100%;
    cursor: pointer;
    transform:translate(-28px,28px);
    transition: 0.5s;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7), 0 0 0 0 rgb(255, 109, 74, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 0 rgb(255, 109, 74, 0.7);
    }

    80% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);
    }
}

.wrap-all {
    width: 70vw;
    margin:auto;
    margin-top: 100px;
}

.accordion-flex {
    width:100%;
    
}

.table_group_name {
    cursor: pointer;
}

.table_group_name:hover {
    /*border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    outline: 1px solid black;
}

.accordion-inner-flex {
    cursor: default!important;
}

.stud_remove_btn {
    cursor:pointer;
    color:red;
}  

.report_btn {
   color: white;
}

/*.stud_remove_btn_parent:hover {
    outline: 1px solid black;
}

.stud_report_btn_parent:hover {
    outline: 1px solid #171717;
}*/
.fa-square {
    color: darkgrey;
} 

hr {
    width: 80px;
  } 

.iconColour {
    color: yellowgreen;
} 

.iconColour:hover {
    cursor:pointer;
}

.fun {
    color: yello;
}

.entry_remove_btn:hover {
    cursor:pointer;
}
 
.carousel, .carousel-inner, .carousel-item {
    height:100%;
}

.carousel-item:nth-child(1) {
    background-color: white;
    background-image: url("../assets/giphy.gif");  /*https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-item:nth-child(2) {
    background-color: white;
    background-image: url("../assets/MakingaNewEval.gif");  /*https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-item:nth-child(3) {
    background-color: white;
    background-image: url("../assets/changingProjectDetail.gif");  /*https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-item:nth-child(4) {
    background-color: white;
    background-image: url("../assets/studentDetail.gif");  /*https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-item:nth-child(5) {
    background-color: white;
    background-image: url("../assets/settings.gif");  /*https://cloudinary-res.cloudinary.com/image/upload/c_limit,w_770/f_auto,fl_lossy,q_auto/Mario_1.gif*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-caption {
    background-color: white;
    border-radius:10px;
}